%h3 Wiki編集履歴

#activity
  - i = 0
  - @events_by_day.keys.sort.reverse.each do |day|
    - i = i + 1
    - break if i > 5
    %dl
      - sort_activity_events_for_right_bar(@events_by_day[day]).each do |e, in_group|
        %dt{:class => "#{e.event_type} #{"grouped" if in_group} #{User.current.logged? &&  e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil}"}
          = avatar(e.event_author, :size => "24") if e.respond_to?(:event_author)
          %span.time= format_time(e.event_datetime, false)
          = content_tag('span', e.project, :class => 'project') if @project.nil? || @project != e.project
          = link_to format_activity_title(e.event_title), e.event_url
        %dd{:class => "#{"grouped" if in_group}"}
          %span.description= format_activity_description(e.event_description)
          - if User.current.admin?
            %span.author= link_to_user(e.event_author) if e.respond_to?(:event_author)
 
= link_to '全て見る', project_activity_path(@page.project, show_wiki_edits: '1')

%h3 新着コメント

%table
  - WikiComment.recent.limit(10).each do |wiki_comment|
    %tr
      %td= link_to wiki_comment.page, project_wiki_page_path(wiki_comment.page, project_id: 'orehata_tori')
      %td #{time_ago_in_words wiki_comment.created_at}前

= link_to '全てのコメント', wiki_comments_path
