%h3 Wiki編集履歴

#activity
  - i = 0
  - @events_by_day.keys.sort.reverse.each do |day|
    - break if i > 10
    - date = day == User.current.today ? l(:label_today).titleize : format_date(day)
    %h3= date
    %ul{style: "list-style-type: none"}
      - sort_activity_events_for_right_bar(@events_by_day[day]).each do |e, in_group|
        - next if in_group
        - next if e.event_title.gsub(/Wiki編集:/,'').gsub(/\(.*\)/, '').match(/Wiki/).present?
        - next if e.event_title.gsub(/Wiki編集:/,'').gsub(/\(.*\)/, '').match(/Sidebar/).present?
        - i = i + 1
        - break if i > 10
        %li
          %span.time= format_time(e.event_datetime, false)
          = link_to format_activity_title(e.event_title).gsub(/Wiki編集:/,'').gsub(/\(.*\)/, ''), e.event_url
 
= link_to '全て見る', project_activity_path(@page.project, show_wiki_edits: '1')

%h3 新着コメント

%table
  - WikiComment.recent.limit(10).each do |wiki_comment|
    %tr
      %td= link_to wiki_comment.page, project_wiki_page_path(wiki_comment.page, project_id: 'orehata_tori')
      %td #{time_ago_in_words wiki_comment.created_at}前

= link_to '全てのコメント', wiki_comments_path
