<div class="contextual">
<%= link_to(l(:label_history), {:action => 'history', :id => @page.title},
            :class => 'icon icon-history') %>
</div>

<p>
<%= l(:label_version) %> <%= link_to @diff.content_from.version, :action => 'show', :id => @page.title, :project_id => @page.project, :version => @diff.content_from.version %>
<%= l(:label_version) %> <%= link_to @diff.content_to.version, :action => 'show',
                             :id => @page.title, :project_id => @page.project,
                             :version => @diff.content_to.version
                          %>/<%= @page.content.version %>
</p>

<div class="text-diff">
<%= simple_format_without_paragraph @diff.to_html %>
</div>
