<%= title [@page.pretty_title, project_wiki_page_path(@page.project, @page.title, :version => nil)],
      [l(:label_history), history_project_wiki_page_path(@page.project, @page.title)],
      "#{l(:label_version)} #{@diff.content_to.version}" %>
<p>
<%= l(:label_version) %> <%= link_to @diff.content_from.version, :action => 'show', :id => @page.title, :project_id => @page.project, :version => @diff.content_from.version %>
<%= l(:label_version) %> <%= link_to @diff.content_to.version, :action => 'show',
                             :id => @page.title, :project_id => @page.project,
                             :version => @diff.content_to.version
                          %>/<%= @page.content.version %>
</p>

<div class="text-diff">
<%= simple_format_without_paragraph @diff.to_html %>
</div>
