- content_for :header_tags do
  %meta{ name: "robots", content: "noindex" }
- project_id = params[:project_id].present? ?  params[:project_id] : 'orehata_tori' 
- content_for :sidebar do
  - if params[:project_id].present?
    = link_to 'TOPに戻る', root_project_wiki_page_index_path(project_id: project_id)
  - else
    = link_to 'TOPに戻る', home_path

%h1 コメント一覧

全#{ @wiki_comments.total_count }件

#wiki-comments
  %ul
    - @wiki_comments.each do |wiki_comment|
      %li
        .comment-header
          %span.page
            ページ:
            = link_to wiki_comment.page, project_wiki_page_path(wiki_comment.page, project_id: wiki_comment.project_id)
          %span.pull-right
            = I18n.l(wiki_comment.created_at)
            - if User.current.admin?
              = wiki_comment.active_flag
              - if wiki_comment.active_flag?
                = link_to '無効にする', to_inactive_wiki_comment_path(wiki_comment), method: :put, class: 'btn btn-success'
              - else
                = link_to '有効にする', to_active_wiki_comment_path(wiki_comment), method: :put, class: 'btn btn-info'
              = link_to '削除する', wiki_comment_path(wiki_comment), method: :delete
        .body
          = simple_format wiki_comment.body
%div{style: 'text-align:center;'}
  = paginate @wiki_comments, params: {controller: 'wiki_comments', action: 'index', project_id: project_id}, rel: "nofollows"
