- if User.current.admin?
  %table
    - @wiki_comments.each do |wiki_comment|
      %tr
        %td= link_to wiki_comment.page, project_wiki_page_path(wiki_comment.page, project_id: 'orehata_tori')
        %td= wiki_comment.title
        %td= wiki_comment.body
        %td= wiki_comment.active_flag
        %td #{time_ago_in_words wiki_comment.created_at} 前
        %td
          - if wiki_comment.active_flag?
            = link_to '無効にする', to_inactive_wiki_comment_path(wiki_comment), method: :put, class: 'btn btn-success'
          - else
            = link_to '有効にする', to_active_wiki_comment_path(wiki_comment), method: :put, class: 'btn btn-info'
        %td
          = link_to '削除する', wiki_comment_path(wiki_comment), method: :delete

%h3 最近編集されたページ

- @events_by_day.keys.sort.reverse.each do |day|
  %h3= format_activity_day(day)
  %dl
    - sort_activity_events(@events_by_day[day]).each do |e, in_group|
      %dt{:class => "#{e.event_type} #{"grouped" if in_group} #{User.current.logged?  e.respond_to?(:event_author)  User.current == e.event_author ? 'me' : nil}"}
        %span.time= format_time(e.event_datetime, false)
        = content_tag('span', e.project, :class => 'project') if @project.nil? || @project != e.project
        = link_to format_activity_title(e.event_title), e.event_url
      %dd{:class => "#{"grouped" if in_group}"}
        %span.description= format_activity_description(e.event_description)

/%table
/  - WikiPage.all.order("created_on DESC").limit(5).each do |page|
/    %tr
/      %td= page.title
/      %td= time_ago_in_words page.created_on
  
