- if User.current.admin?
  %table
    - @wiki_comments.each do |wiki_comment|
      %tr
        %td= wiki_comment.page
        %td= wiki_comment.title
        %td= wiki_comment.body
        %td= wiki_comment.active_flag
        %td= wiki_comment.created_at
        %td
          - if wiki_comment.active_flag?
            = link_to '無効にする', to_inactive_wiki_comment_path(wiki_comment), method: :put, class: 'btn btn-success'
          - else
            = link_to '有効にする', to_active_wiki_comment_path(wiki_comment), method: :put, class: 'btn btn-info'
        %td
          = link_to '削除する', wiki_comment_path(wiki_comment), method: :delete

