= content_for :header_tags do
  = stylesheet_link_tag 'boot'
- if request.mobile? || request.smart_phone?
  - content_for :sidebar do
    = render partial: 'layouts/menu_bar'

%h1 攻略タイトル一覧

.reviews
  .scroll-table
    %table.table.table-striped.table-hover
      %tr
        %th.center タイトル
        %th.center 発売日
        %th.center ハード
      %tr
        %td.center= link_to 'ハースストーン', game_wiki_path(project_id: 'hearth_stone', id: 'top')
        %td.center 2014/3/11
        %td.center iOS,Android,PC
      %tr
        %td.center= link_to '世界一長い5分間', game_wiki_path(project_id: '5min', id: 'top')
        %td.center 2016/7/28
        %td.center PS Vita
      %tr
        %td.center= link_to 'イースⅧ -Lacrimosa of DANA- ', game_wiki_path(project_id: 'ys8', id: 'top')
        %td.center 2016/7/21
        %td.center PS Vita
      %tr
        %td.center= link_to 'カルドセプト　リボルト', game_wiki_path(project_id: 'culdcept', id: 'top')
        %td.center 2016/7/7
        %td.center 3DS
      %tr
        %td.center= link_to 'ルフランの地下迷宮と魔女ノ旅団', game_wiki_path(project_id: 'refrain', id: 'top')
        %td.center 2016/6/24
        %td.center PS Vita
      %tr
        %td.center= link_to 'ヒーラーは二度死ぬ', game_wiki_path(project_id: 'healer', id: 'top')
        %td.center 2016/6/3
        %td.center PS4
      %tr
        %td.center= link_to 'クラシックダンジョン戦国', game_wiki_path(project_id: 'cl_dungeon_sengoku', id: 'top')
        %td.center 2016/5/26
        %td.center PS Vita
      %tr
        %td.center= link_to 'エリエットクエスト', game_wiki_path(project_id: 'erietto', id: 'top')
        %td.center 2016/3/23
        %td.center WiiU
      %tr
        %td.center= link_to '俺に働けと言われても　酉', game_wiki_path(project_id: 'orehata_tori', id: 'top')
        %td.center 2016/3/17
        %td.center PS Vita

= render 'ads_google'
