= simple_form_for resource, html: { class: 'form form-horizontal'} do |f|
  .form-group
    %label.col-sm-2.control-label カード名
    .col-sm-5
      = f.input_field :name, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label コスト
    .col-sm-5
      = f.input_field :cost, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label カードコスト
    .col-sm-5
      = f.input_field :card_cost, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label
      属性コスト
      %br
      ex) 水水、風
    .col-sm-5
      = f.input_field :element_cost, class: 'form-control'
    %br
  - if action_name == 'edit' || params[:type] == 'creature'  || params[:type] == 'item'
    .form-group
      %label.col-sm-2.control-label ST
      .col-sm-5
        = f.input_field :st, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label HP
      .col-sm-5
        = f.input_field :hp, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label カードタイプ
    .col-sm-5
      - if action_name == 'edit'
        = f.input_field :card_type, as: :select, collection: ['クリーチャー','アイテム','スペル'], include_blank: false
      - elsif params[:type] == 'creature'
        = f.input_field :card_type, as: :select, collection: ['クリーチャー'], include_blank: false
      - elsif params[:type] == 'item'
        = f.input_field :card_type, as: :select, collection: ['アイテム'], include_blank: false
      - elsif params[:type] == 'spell'
        = f.input_field :card_type, as: :select, collection: ['スペル'], include_blank: false
      - else
        = f.input_field :card_type, as: :select, collection: ['クリーチャー','アイテム','スペル'], include_blank: false
  - if action_name == 'edit' || params[:type] == 'item'
    .form-group
      %label.col-sm-2.control-label アイテムタイプ
      .col-sm-5
        = f.input_field :item_type, as: :select, collection: ['武器','防具','巻物','道具'], include_blank: true
  - if action_name == 'edit' || params[:type] == 'spell'
    .form-group
      %label.col-sm-2.control-label スペル種別
      .col-sm-5
        = f.input_field :spell_type, as: :select, collection: ['単体瞬間','複数瞬間','単体呪い','複数呪い'], include_blank: true
  .form-group
    %label.col-sm-2.control-label レア
    .col-sm-5
      = f.input_field :rare, as: :select, collection: ['N', 'S', 'R', 'E'], include_blank: false
  .form-group
    %label.col-sm-2.control-label カードテキスト
    .col-sm-5
      = f.input_field :card_text, class: 'form-control', rows: 10
  .form-group
    %label.col-sm-2.control-label 説明文
    .col-sm-5
      = f.input_field :description, class: 'form-control', rows: 10
  .form-group
    %label.col-sm-2.control-label アドバイス
    .col-sm-5
      = f.input_field :advice, class: 'form-control', rows: 10
  - if params[:type] == 'creature' || action_name == 'edit'
    .form-group
      %label.col-sm-2.control-label 属性
      .col-sm-5
        = f.input_field :element, as: :select, collection: ['無','火','水','風','地'], include_blank: true
    .form-group
      %label.col-sm-2.control-label 防御型
      .col-sm-5
        = f.input_field :deffensive
    .form-group
      %label.col-sm-2.control-label 再生
      .col-sm-5
        = f.input_field :regenerate
    .form-group
      %label.col-sm-2.control-label 先制
      .col-sm-5
        = f.input_field :first_attack
    .form-group
      %label.col-sm-2.control-label 遺産
      .col-sm-5
        = f.input_field :heritage
    .form-group
      %label.col-sm-2.control-label 援護
      .col-sm-5
        = f.input_field :support
    .form-group
      %label.col-sm-2.control-label 即死
      .col-sm-5
        = f.input_field :death
    .form-group
      %label.col-sm-2.control-label 秘術
      .col-sm-5
        = f.input_field :magick
    .form-group
      %label.col-sm-2.control-label 強打
      .col-sm-5
        = f.input_field :strong_attack
    .form-group
      %label.col-sm-2.control-label 配置制限　水
      .col-sm-5
        = f.input_field :forbidden_water, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label 配置制限　火
      .col-sm-5
        = f.input_field :forbidden_fire, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label 配置制限　地
      .col-sm-5
        = f.input_field :forbidden_forrest, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label 配置制限　風
      .col-sm-5
        = f.input_field :forbidden_wind, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label アイテム制限 武器
      .col-sm-5
        = f.input_field :forbidden_weapon, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label アイテム制限 防具
      .col-sm-5
        = f.input_field :forbidden_armer, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label アイテム制限 道具
      .col-sm-5
        = f.input_field :forbidden_item, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label アイテム制限 巻物
      .col-sm-5
        = f.input_field :forbidden_spell, class: 'form-control'
  .form-group
    = f.submit '送信', class: 'btn btn-primary'
