.main
  検索結果URL
  %pre.culd
    #{ culdcepts_url(params) }
  %br
  #{culdcepts.count}枚
  %br
  %table.table.table-striped.table-hover
    %tr
      %th.center 名前
      %th.center コスト
      %th.center レアリティ
      %th.center カードタイプ
      %th.center 属性
      %th.center アイテム種別
      %th.center スペル種別
      %th.center ST
      %th.center HP
      - if User.current.admin?
        %th.center
        %th.center
    - if culdcepts.present?
      - culdcepts.each do |culdcept|
        %tr
          %td.center= link_to culdcept.name, game_wiki_path(project_id: 'culdcept', id: culdcept.name)
          %td.center= culdcept.cost
          %td.center= culdcept.rare
          %td.center= culdcept.card_type
          %td.center= culdcept.element
          %td.center= culdcept.item_type
          %td.center= culdcept.spell_type
          %td.center= culdcept.st
          %td.center= culdcept.hp
          - if User.current.admin?
            %td.center= link_to '編集', edit_culdcept_path(culdcept), class: 'btn btn-primary' 
            %td.center= link_to '削除', culdcept_path(culdcept), method: :delete, data: { confirm: "#{ culdcept.name }を削除します。よろしいですか？" }, class: 'btn btn-danger'
