= search_form_for @q, method: :get, remote: true, html: { id: 'search-form' } do |f|
  = render layout: 'condition_box' do
    .clearfix
      .col-sm-3 カード名
      .col-sm-9= f.search_field :name_cont
      .col-sm-3 コスト
      .col-sm-9
        = f.search_field :cost_gteq
        〜
        = f.search_field :cost_lteq
      .col-sm-3 レアリティ
      .col-sm-9
        %label 
          = check_box_tag "q[rare_in][]", 'N'
          N
        %label 
          = check_box_tag "q[rare_in][]", 'S'
          S
        %label 
          = check_box_tag "q[rare_in][]", 'R'
          R
        %label 
          = check_box_tag "q[rare_in][]", 'E'
          E
    .clearfix
      .col-sm-3 カードタイプ
      .col-sm-9
        %label 
          = check_box_tag "q[card_type_in][]", 'クリーチャー'
          クリーチャー
        %label 
          = check_box_tag "q[card_type_in][]", 'アイテム'
          アイテム
        %label 
          = check_box_tag "q[card_type_in][]", 'スペル'
          スペル
    .clearfix
      %hr
      .center
        %label 能力値（クリーチャーかアイテム時のみ入力）
      %br
      .col-sm-3 ST
      .col-sm-9
        = f.search_field :st_gteq
        〜
        = f.search_field :st_lteq
    .clearfix
      .col-sm-3 HP
      .col-sm-9
        = f.search_field :hp_gteq
        〜
        = f.search_field :hp_lteq
    .clearfix
      %hr
      .center
        %label クリーチャー時のみ入力
      %br
      .col-sm-3 属性
      .col-sm-9
        %label 
          = check_box_tag "q[element_in][]", '無'
          無
        %label 
          = check_box_tag "q[element_in][]", '水'
          水
        %label 
          = check_box_tag "q[element_in][]", '火'
          火
        %label 
          = check_box_tag "q[element_in][]", '風'
          風
        %label 
          = check_box_tag "q[element_in][]", '地'
          地
      %br
      .col-sm-3 能力
      .col-sm-9
        %label 
          = check_box_tag "q[deffensive_in]", '1'
          防御型
        %label 
          = check_box_tag "q[regenerate_in]", '1'
          再生
        %label 
          = check_box_tag "q[first_attack_in]", '1'
          先制
        %label 
          = check_box_tag "q[protect_spell_in]", '1'
          防魔
        %label 
          = check_box_tag "q[support_in]", '1'
          援護
        %label 
          = check_box_tag "q[fortitude_in]", '1'
          不屈
        %label 
          = check_box_tag "q[secret_in]", '1'
          密命
        %label 
          = check_box_tag "q[mix_in]", '1'
          合成
        %label 
          = check_box_tag "q[induction_in]", '1'
          感応
        %label 
          = check_box_tag "q[cheer_in]", '1'
          応援
    .clearfix
      %hr
      .center
        %label アイテムの時のみ入力
      %br
      .col-sm-3 アイテムタイプ
      .col-sm-9
        %label 
          = check_box_tag "q[item_type_in][]", '武器'
          武器
        %label 
          = check_box_tag "q[item_type_in][]", '防具'
          防具
        %label 
          = check_box_tag "q[item_type_in][]", '道具'
          道具
        %label 
          = check_box_tag "q[item_type_in][]", '巻物'
          巻物
    .clearfix
      %hr
      .center
        %label スペルの時のみ入力
      %br
      .col-sm-3 スペルタイプ
      .col-sm-9
        %label 
          = check_box_tag "q[spell_type_in][]", '単体瞬間'
          単体瞬間
        %label 
          = check_box_tag "q[spell_type_in][]", '複数瞬間'
          複数瞬間
        %label 
          = check_box_tag "q[spell_type_in][]", '単体呪い'
          単体呪い
        %label 
          = check_box_tag "q[spell_type_in][]", '複数呪い'
          複数呪い
        %label 
          = check_box_tag "q[spell_type_in][]", '世界呪い'
          世界呪い
