= content_for :header_tags do
  = stylesheet_link_tag 'boot'
- content_for :sidebar do
  - if @wiki && @wiki.sidebar
    .wiki
      = textilizable @wiki.sidebar.content, :text
  - else
    no side bar

- if params[:card_id].present?
  - card = Culdcept.find params[:card_id]
  .widget-box
    .widget-header
      .widget-title
        wiki登録用の文章(下記の文章をコピペして#{link_to card.name, game_wiki_path(project_id: 'culdcept', id: card.name) }のページに貼り付けてください)
    .widget-body
      .widget-main
        = render 'copy_paste', card: card
      .widget-toolbox.padding-8.clearfix.center

= link_to '新規カード登録', new_culdcept_path, class: 'btn btn-primary'

%h1 カード検索

.row{ style: 'margin: 0 auto;'}
  .col-xs-12.section
    = render 'search_form'
    
%h1 カード一覧

.row{ style: 'margin: 0 auto;'}
  #collection.col-xs-12
    - if collection.any?
      = render 'list', culdcepts: collection
    - else
      データが見つかりませんでした。

/ google ads
%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
%ins.adsbygoogle{"data-ad-client" => "ca-pub-3329113358393775", "data-ad-format" => "auto", "data-ad-slot" => "4333067042", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
