= content_for :header_tags do
  = stylesheet_link_tag 'boot'

%h1 カード登録

.main
  = simple_form_for Culdcept.new, html: { class: 'form form-horizontal'} do |f|
    .form-group
      %label.col-sm-2.control-label カード名
      .col-sm-5
        = f.input_field :name, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label コスト
      .col-sm-5
        = f.input_field :cost, class: 'form-control'
      %label.col-sm-2.control-label カードコスト
      .col-sm-5
        = f.input_field :card_cost, class: 'form-control'
      %label.col-sm-2.control-label 属性コスト
      .col-sm-5
        = f.input_field :element_cost, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label ST
      .col-sm-5
        = f.input_field :st, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label HP
      .col-sm-5
        = f.input_field :hp, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label カードタイプ
      .col-sm-5
        = f.input_field :card_type, as: :select, collection: ['クリーチャー','アイテム','スペル'], include_blank: false
    .form-group
      %label.col-sm-2.control-label アイテムタイプ
      .col-sm-5
        = f.input_field :item_type, as: :select, collection: ['武器','防具','巻物','道具'], include_blank: true
    .form-group
      %label.col-sm-2.control-label レア
      .col-sm-5
        = f.input_field :rare, as: :select, collection: ['N', 'S', 'R', 'E'], include_blank: false
    .form-group
      %label.col-sm-2.control-label 防御型
      .col-sm-5
        = f.input_field :deffensive
    .form-group
      %label.col-sm-2.control-label 属性
      .col-sm-5
        = f.input_field :element, as: :select, collection: ['無','火','水','風','地'], include_blank: false
    .form-group
      %label.col-sm-2.control-label カードテキスト
      .col-sm-5
        = f.input_field :card_text, class: 'form-control', rows: 10
    .form-group
      %label.col-sm-2.control-label 説明文
      .col-sm-5
        = f.input_field :description, class: 'form-control', rows: 10
    .form-group
      %label.col-sm-2.control-label アドバイス
      .col-sm-5
        = f.input_field :advice, class: 'form-control', rows: 10
    .form-group
      %label.col-sm-2.control-label 配置制限　水
      .col-sm-5
        = f.input_field :forbidden_water, class: 'form-control'
      %label.col-sm-2.control-label 配置制限　火
      .col-sm-5
        = f.input_field :forbidden_fire, class: 'form-control'
      %label.col-sm-2.control-label 配置制限　地
      .col-sm-5
        = f.input_field :forbidden_forrest, class: 'form-control'
      %label.col-sm-2.control-label 配置制限　風
      .col-sm-5
        = f.input_field :forbidden_wind, class: 'form-control'
    .form-group
      %label.col-sm-2.control-label アイテム制限 武器
      .col-sm-5
        = f.input_field :forbidden_weapon, class: 'form-control'
      %label.col-sm-2.control-label アイテム制限 防具
      .col-sm-5
        = f.input_field :forbidden_armer, class: 'form-control'
      %label.col-sm-2.control-label アイテム制限 道具
      .col-sm-5
        = f.input_field :forbidden_item, class: 'form-control'
      %label.col-sm-2.control-label アイテム制限 巻物
      .col-sm-5
        = f.input_field :forbidden_spell, class: 'form-control'
    .form-group
      = f.submit '送信', class: 'btn btn-primary'

