= content_for :header_tags do
  /= javascript_include_tag 'reviews'
= link_to 'レビュー一覧へ', reviews_path

%h2 レビュー

※ 画像をクリックするとAmazon購入ページへと遷移します

.panel.panel-default
  .panel-heading
    %h3= @game.title
  .panel-body
    - if @game.asin.present?
      .col-sm-5
        .center
          = @game.asin.html_safe
      .col-sm-7
        .review_graph
          = high_chart("radar", @chart)
    - else
      .col-sm-12
        .review_graph
          = high_chart("radar", @chart)
    - if @game.pv_url.present?
      %h3 PV
      = @game.pv_url.html_safe

