= content_for :header_tags do
  = stylesheet_link_tag 'boot'

%h1 レビュー一覧

.main
  %table.table.table-striped.table-hover
    %tr
      %th.center タイトル
      %th.center サムネイル
      %th.center レビュー件数
      %th.center 平均点
      %th.center
    - if @games.present?
      - @games.each do |game|
        %tr
          %td.center= game.title
          %td.center
            = game.asin.present? ? game.asin : 'なし'
          %td.center= game.reviews.count
          %td.center= game.average_score
          %td
            = link_to 'レビュー投稿', new_review_path(game_id: game.id), class: 'btn btn-info'
