= content_for :header_tags do
  = stylesheet_link_tag 'boot'
- content_for :sidebar do
  = render partial: 'layouts/menu_bar'

%h1 レビュー一覧

.reviews
  .scroll-table
    %table{style: 'border: 0px !important;'}
      %thead
        %th.center
        %th.center タイトル
        %th.center 件数
        %th.center 平均点
      - if @games.present?
        - @games.each do |game|
          %tr
            %td.center
              = game.asin_mini.present? ? game.asin_mini.html_safe : ''
            %td.center
              .title= link_to game.title, game_reviews_path(game_id: game.id)
              - if game.release_date.present?
                .release_date
                  #{ I18n.l(game.release_date) }発売
              .hard_type
                %span.label.label-info= game.hard_type
            %td.center= game.reviews.count
            %td.center= game.average_point('score')

  = render 'ads_google'
