= content_for :header_tags do
  = stylesheet_link_tag 'boot'

= render 'game_info', game: @game

- @game.reviews.recent.each do |review|
  %table.table.table-striped.table-hover
    %tr
      %th.center 投稿者
      %td.center= review.created_by.present? ? review.created_by : "名無しのゲーマー"
    %tr
      %th.center score 得点
      %td.center score= review.score
    %tr
      %th.center title タイトル
      %td.center title= review.title
    %tr
      %th.center Good
      %td.center= review.body_good
    %tr
      %th.center Bad
      %td.center= review.body_bad
    %tr
      %th.center Comment
      %th.center= review.body_free

