!!! 5
%html
  %head
    %title
      管理画面
      /= full_title(yield(:title))
    = stylesheet_link_tag 'boot'
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "application"
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = yield :head
  %body
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => home_path} TOP
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li= link_to 'ゲーム一覧', admin_games_path
          %li= link_to '発売日一覧', admin_releases_path
        .social{ style: 'text-align: right; padding: 10px'}
          = link_to 'ツィート', 'https://twitter.com/share', class: 'twitter-share-button', data: { url: request.url, text: wiki_og_title, lang: "ja" }
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .container
      - if flash
        = render 'flash_box'
      = yield
    .copyright{ style: 'text-align: center' }
      Copyright &copy; 2016 かっぱ All Rights Reserved.
